@charset "UTF-8";
*{
  font-size: 12px;
  font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

h1 {
  padding: 5px 10px;
  font-size: 2rem; /*rem = 全体のサイズに対しての倍率*/
  background-color: lightblue;
  border-left: 5px solid darkcyan;
}
.register-box{
  text-align: center;
}
#js-todo-ttl {
  width: 300px;
}
.output-flex{
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
}
.output-flex > div {   /*〇〇 > 〇〇  直下の子要素を適用される*/
  margin: 0 10px;
  width: calc(50% - 30px);
  text-align: center;
  background-color: lightblue;
}
ul{
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 5%;
  padding: 2.5%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  list-style:none;
  background-color: white;
}

input[type = "checkbox"] {
  transform: scale(1.5); /* チェックボックスのサイズを2倍にする */
}

@media screen and (max-width:526px){
  *{
    font-size: 14px;
  }
  .output-flex{
    display:flex;
    flex-flow: column;
  }
  .output-flex > div {   /*〇〇 > 〇〇  直下の子要素を適用される*/
    width: 100%;
    margin: 2% auto;
    text-align: center;
    background-color: rgb(13, 160, 209);
  }
  h1 {
    background-color: rgb(13, 160, 209);
  }
}